@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: rgb(1, 26, 22);
    --second-bg-color: rgb(3, 44, 36);
    --text-color: #ededed;
    --main-color: rgb(110, 192, 178);
    --header-footer-color: rgb(4, 32, 26);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}


/*----------------------------
Header Design
------------------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--header-footer-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: .5px var(--text-color);
    letter-spacing: 2px; 
    transition: .5s;
}

.navbar {
    position: relative;
}

.logo:hover {
    color: var(--main-color);
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}


/*-----------------------------------
Home Section Design 
-------------------------------------*/
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 60rem;
    z-index: 99;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span {
    color: var(--text-color);
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.home-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--main-color);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.btn-box i {
    padding-right: 1rem;
}

.home-img-profile {
  margin-left: auto;
  position: relative;
  height: 45rem;
  width: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img {
    width: 100%;
    border: .5rem solid var(--main-color);
    border-radius: 50%;   
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: 3s;
}

.home-imgHover:hover {
  background: var(--bg-color);
  opacity: .5;
}


.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 230px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .3rem solid var(--main-color);
    border-radius: 50%;
    font-size: 25px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: var(--bg-color);
}


.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}


/*------------------------------
About Section Design
------------------------------*/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--second-bg-color);
  padding-bottom: 6rem;
}

.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.heading span {
    color: var(--main-color);
}

.about-img {
  position: relative;
  width: 23rem;
  height: 23rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 90%;
  border-radius: 50%;
  border: .5rem solid var(--main-color);
}

.about-img .circle-spin {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-60%, -60%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 40%;
  border-top: .3rem solid var(--main-color);
  border-bottom: .3rem solid var(--main-color);
  border-left: .3rem solid var(--main-color);
  border-right: .3rem solid var(--main-color);
  animation: aboutSpinner 8s linear infinite;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: var(--second-bg-color);
}


/*------------------------------
Education Section Design
------------------------------*/
.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    padding: 100px 63px 60px;
}

.education .title{
    
    font-size: 3.2rem;
    margin: 0 0 1.5rem 2rem;
    color: transparent;
    -webkit-text-stroke: .9px var(--text-color);
    text-align: center;
}

.education .title:hover {
    color: var(--text-color);
}

.edu-box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.edu-box-container .box {
    width: 27rem;
    margin: 4rem 15rem;
    padding-left: 4rem;
    border-left: .2rem solid var(--main-color);
    position: relative;
    width: 100%;
}

.edu-box-container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.edu-box-container .box:hover::before {
    width: 100%;
}

.edu-box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 3rem;
    color: var(--second-bg-color);
    background: var(--main-color);

}

.edu-box-container .box span {
    font-size: 1.8rem;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem; 
    padding: 1rem 2rem;
}

.edu-box-container .box h3 {
    font-size: 2rem;
    padding-top: 1.5rem;
}

.edu-box-container .box p {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-top: 1.3rem;
    padding-bottom: 1rem;
}


/*------------------------------
Skills Section Design
------------------------------*/
.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-container .skills-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 2rem 1rem 3rem;
    border-radius: 5rem;
    text-align: center;
    border: .2rem solid var(--second-bg-color);
    transition: .5s ease;
}

.skills-container .skills-box:hover {
    border-color: var(--main-color);
    transform: scale(1.05);
}

.skills-box i {
    font-size: 12rem;
    color: var(--main-color);
}
.skills-box h3 {
    font-size: 2rem;
    color: var(--text-color);
    letter-spacing: 2px; 
}


/*------------------------------
Projects Section Design
------------------------------*/
.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    padding: 100px 63px 60px; 
}

.container-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.box-project h2 {
    font-size: 2.5rem; 
    font-family: 'Gambetta', serif;
    letter-spacing: -1px;
    transition: 700ms easy;
    font-variation-settings: "wght" 311;
    outline: none;
    margin: 0 0 1.5rem rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    text-align: center;
}

.box-project h2:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 2px;
    color: var(--text-color);
}

.box-project .project-img img {
    height: 24rem;
    width: 50rem;
    border-radius: 2rem;
    border: .2rem solid var(--main-color);
}

.box-project figure img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.box-project figure:hover img {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.box-project a h3 {
    font-size: 2rem;
    margin: 0 0 1.5rem rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    color: var(--text-color);
    text-align: center;
}



/*------------------------------
Contact Section Design
------------------------------*/
.contact {
    min-height: auto;
    padding-bottom: 7rem;    
    background: var(--second-bg-color);
}

.contact .title{
    font-size: 3.2rem;
    margin: 0 0 1.5rem rem;
    padding-bottom: 2rem;
    color: transparent;
    -webkit-text-stroke: .9px var(--text-color);
    text-align: center;
}

.contact .title:hover {
    color: var(--text-color);
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0; 
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}


/**************************************************************************************************************************************/

.contact form .popup {
    width: 400px;
    background: var(--second-bg-color);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    justify-content: center;
    padding: 0 30px 30px;
    color: var(--text-color);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.contact form .popup i {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    margin-top: -25px;
    border-radius: 50%;
    font-size: 80px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: var(--main-color);
}

.contact form .popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.contact form .popup p {
    font-size: 20px;
}

.contact form .popup button {
    width: 50%;
    margin-top: 30px;
    padding: 10px 0;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/*******************************************************************************8*********************************/




/*------------------------------
Footer Design
------------------------------*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 6%;
    background: var(--header-footer-color);
} 

.footer-img {
    position: absolute;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
  
.footer-img img {
    width: 90%;
    border-radius: 30%;
    border: .2rem solid var(--main-color);
}

.footer-text a {
    font-size: 1.6rem;
    margin-left: 8rem;
    color: var(--text-color)
}

.footer-text a i {
    font-size: 2rem;
    color: var(--main-color);
    padding-left: 2.5rem;
    padding-right: 0.5rem;
}

.footer-text a i:hover {
    transform: scale(1.15);
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--bg-color);
    border-radius: 50%;
}

.footer-iconTop a:hover {
    border-color: var(--main-color);
    transform: scale(1.05);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
}

/* ANIMATION RELOAD & SCROLL */
.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}

.animate.h-img {
    width: 100%;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
    animation: showRight 1s ease forwards; 
    animation-delay: calc(.3s * var(--i));
}


.footer.show-animate .animate.scroll {
    transition-delay: calc(.3s * var(--i));
    width: 0;
}


/* BREAKPOINTS */
@media (max-width: 1400px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 992px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
} 



@media (max-width: 850px) {
    .animate.h-img {
        width: 100%;
    }
} 



@media (max-width: 780px) {
    .header {
        background: var(--header-footer-color);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--header-footer-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .home-imgHover {
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .home-sci {
        width: 160px;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 464px){
    .footer {
        flex-direction: column-reverse;
     }
 
     .footer .footer-img {
         margin-bottom: -3rem;
         margin-right: 38rem;
         position: absolute;
     }
 
     .footer a {
         text-align: center;
     }
}

@media (max-width: 440px) {
    .home-content h1 {
        font-size: 5.2rem;
    }

    .education {
        padding: 10rem 4% 5rem 5%;
    }

    .projects .container-projects .box-project .project-img figure {
        width: 100%;
    } 

    .contact form .input-box .input-field {
        width: 100%;
    }

    .footer {
       flex-direction: column-reverse;
    }

    .footer .footer-img {
        margin-bottom: -3rem;
        margin-right: 38rem;
        position: absolute;
    }

    .footer a {
        text-align: center;
    }
}

@media (max-width: 400px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1 {
        font-size: 5rem;
    }
}

@media (max-width: 370px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1 {
        font-size: 3rem;
    }

    .footer {
        flex-direction: column-reverse;
     }
 
    .footer .footer-img {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        margin-right: -1rem;   
    }
 
    .footer .footer-text a {
        text-align: center;
        text-decoration: none;    
    }
}





/* KEYFRAMES ANIMATION */
@keyframes homeBgText {
    0%, 10%, 100% {
        background-position: -33rem 0;
    }

    65%, 85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {
    0%, 10%, 100% {
        width: 0;
    }

    65%, 78%, 85% {
        width: 100%;
        opacity: 1;
    }

    75%, 81% {
        opacity: 0;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-60%, -60%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}